* {
  font-family: "Acme", sans-serif;
}
.App {
  text-align: center;
  min-height: 100vh;
  font-family: "Gochi Hand", cursive;
}

.App-logo {
  height: 40vmin;
}

a {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  width: 95%;
  font-size: 25px;
  /* justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 30px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom: black 1px solid;
}

.navbtn {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.navbtn a:hover {
  border: none;
  background: none;
}
.logo {
  width: 45%;
  font-family: "Neucha", cursive;
}
.countrynav {
  width: 45%;
  font-size: 40px;
  text-align: center;
}
.countrynav:hover {
  border: none;
  background: none;
}

/* Error */

.error {
  font-size: 19px;
  color: rgb(199, 80, 80);
  text-align: start;
  width: 60%;
}
.active {
  color: gray;
  font-weight: bolder;
  text-align: center;
  /* background: rgba(34, 34, 34, 0.96); */
}
/* .nav {
  display: flex;
} */

/* Login */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.loginDiv {
  height: 500px;
  background: #222222;
  min-width: 50%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: #222222 10px 5px 50px;
}

.loginDiv h3 {
  font-size: 40px;
  color: wheat;
}

.loginDiv form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginDiv form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.loginDiv form div .line {
  width: 100%;
  display: flex;
  margin: 0 auto;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}
.loginDiv form div input {
  border: none;
  border-radius: 5px;
  height: 50px;
  padding-left: 10px;
  width: 50%;
  font-size: 25px;
}
.loginDiv form div label {
  text-align: end;
  width: 18%;
  font-size: 25px;
  margin-right: 15px;
  color: wheat;
}
.loginDiv .forgot {
  color: wheat;
}

.loginDiv .forgot a {
  color: rgb(199, 80, 80);
  font-size: 17px;
}
.loginDiv form button {
  font-size: 25px;
  width: 200px;
  border: white;
  padding: 10px;
  border-radius: 10px;
  color: wheat;
  background: #222222;
}

.loginDiv form button:hover {
  background: wheat;
  color: #222222;
}

/* Countries */

.countries {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.countries .countriesList {
  display: flex;
  flex-wrap: wrap;
}
.addcountry {
  margin-bottom: 40px;
}
.countries .addcountry a {
  margin: 50px 10px;
  font-size: 20px;
  background: rgba(34, 34, 34, 1);
}
.countries .addcountry a:hover {
  background: white;
}
.countries a {
  min-width: 20%;
  font-size: 25px;
  text-decoration: none;
  color: wheat;
  background: #222222;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.countriesList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.countries .country {
  font-size: 30px;
  width: 20%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:hover {
  color: #222222;
  background: wheat;
  font-weight: bolder;
  border: #222222 2px solid;
}

div .addcountryfrom {
  height: 30vh;
  position: fixed;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div .addcountryfrom label {
  text-align: center;
  width: 50%;
  font-size: 30px;
}

div .addcountryfrom input {
  text-align: center;
  width: 50%;
  font-size: 35px;
  border: none;
  border-radius: 5px;
  height: 55px;
}
div .addcountryfrom .formbtn button {
  font-size: 20px;
  margin-left: 20px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  background: wheat;
}

/* Communities */

.commHeader {
  width: 100%;
  text-align: center;
  font-size: 35px;
}

.allcommunities {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.allcommunities .community {
  background: rgb(240, 231, 215);

  border-radius: 10px;
  margin: 50px;
  text-align: center;
  width: 100%;
  margin: 1px auto;
  border: #222222 1px solid;
  font-size: 25px;
  color: #222222;
}

.allcommunities .community:hover {
  background: wheat;
}
.commbtn {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}
.commbtn button {
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: #222222;
  background: rgb(240, 231, 215);
}

/* USERS  */
.usersList {
  display: flex;
  flex-wrap: wrap;
}
.list-div {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  color: white;
}
.alllist {
  background: #222222;
  border-radius: 5px;
  max-width: 450px;
  margin: 30px auto;
  margin-right: 20px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}

.field {
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.field p {
  width: 50%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.field h5 {
  color: wheat;
  text-align: start;
  font-size: 20px;
  font-weight: 100;
  width: 25%;
  margin: 0;
  margin-right: 40px;
}

.form-div {
  background: #282c34;
}

.adduserbtn {
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: rgb(240, 231, 215);
}
.adduserbtn:hover {
  background: wheat;
}

/* Create User */

.createUser {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#addnewuser {
  width: 700px;
}
.editeForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: rgba(34, 34, 34, 0.96);
  position: fixed;
  top: 150px;
  left: 30%;
  z-index: 1;
  animation: fadeIn 1s;
  width: 40%;
  border-radius: 10px;
  padding: 30px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  border: black 1px solid;
}

.editeForm input,
#editeForm label {
  font-size: 1.9rem;
}

.editeForm label {
  font-size: 25px;
  width: 20%;
  color: wheat;
  text-align: start;
  margin-right: 10px;
}
select {
  width: 60%;
  height: 20px;
  font-size: 18px;
  height: 40px;
}
option {
  height: 30px;
}
.editeForm input {
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 20px;
}
.addusersbtn {
  width: 40%;
  display: flex;
}

.adduserform label {
  font-size: 25px;
}
.adduserform button {
  margin-top: 20px;
  width: 100%;
  margin-left: 10px;
  font-size: 19px;
  text-align: center;
  border-radius: 5px;
  border: wheat 1px solid;
  height: 30px;
  color: wheat;
  background: #222222;
}

.oneuser button {
  color: aliceblue;
  border: none;
}

/* Childrens */

.childrens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.childrens h2 {
  width: 100%;
  font-size: 35px;
  text-align: center;
}

.childsbtn {
  display: flex;
  width: 55%;
  justify-content: space-between;
  margin-bottom: 30px;
}
.childsbtn button,
.childsbtn a {
  border-radius: 10px;
  font-size: 25px;
  border: none;
  margin-left: 20px;
  width: 15%;
  text-align: center;
  background: rgb(240, 231, 215);
  padding: 10px 0;
  color: black;
}

.childsbtn a {
  width: 20%;
}

.childsbtn button:hover,
.childsbtn a:hover {
  color: #222222;
  font-weight: 100;
}

.allchilds {
  display: flex;
  flex-wrap: wrap;
}
#allch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#child {
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 60%;
  background: #222222;
  margin-bottom: 10px;
}

#child .field {
  justify-content: center;
  width: 50%;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  align-items: center;
}

#child .field p {
  width: 30%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
}

#child .field h5 {
  color: wheat;
  text-align: start;
  font-size: 16px;
  font-weight: 100;
  width: 40%;
  margin: 0;
  margin-right: 40px;
}
